version: '3'
services:
  postgres-db:
    image: postgres
    restart: always
    container_name: postgres # 컨테이너 이름 설정
    environment:
      POSTGRES_USER: "${DB_USER_ID}"
      POSTGRES_PASSWORD: "${DB_USER_PASSWORD}"      
    volumes:
      - ${POSTGRES_HOME_DIR}/data/:/var/lib/postgresql/data

    ports:
      - 5432:5432